:root {
  --blackbird-red: #e92741;
  --blackbird-white: #fdf7cd;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: var(--blackbird-white);
}

h1 {
  font-size: 4rem;
  text-align: left;
}

*::selection {
  background-color: var(--blackbird-red);
}
