.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.planes {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.middlePlane {
  padding-top: 100px;
}

.hello {
  padding-top: 30px;
  font-size: 3rem;
}

.blackbird {
  font-style: bold;
  text-shadow: 3px 2px 0px #e92741;
}
