.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planes {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.middlePlane {
  padding-top: 100px;
}
