.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* welcome
============================ */

.welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planes {
  flex-direction: row;
  display: flex;
}

.middlePlane {
  padding-top: 100px;
}

.hello {
  padding-top: 30px;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sharpest {
  text-decoration: underline var(--blackbird-red);
}

.githubLogo {
  width: 40px;
  filter: invert(100%) saturate(0%);
  padding-left: 30px;
}

.blackbird {
  font-style: bold;
  animation-name: pop-out-drop;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 850px) {
  .leftPlane,
  .rightPlane {
    display: none;
  }
}

/* meet the family; colors
============================ */

.section {
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.colors {
  min-width: 100px;
  width: 80vw;
  max-width: 800px;
  height: auto;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

/* implementation image
============================ */

.impl {
  padding-top: 50px;
}

.implImage {
  max-width: 60vw;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.implementations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  min-width: 50vw;
  padding-bottom: 10vh;
  flex-wrap: wrap;
}

@keyframes pop-out-drop {
  0% {
    text-shadow: 4px 3px 0 var(--blackbird-red);
  }

  50% {
    text-shadow: -4px 3px 0px var(--blackbird-red);
  }

  100% {
    text-shadow: 4px 3px 0px var(--blackbird-red);
  }
}
